/* Overall page styling */
.home-page {
    font-family: Arial, sans-serif;
  }
  
  /* Header section styling */
  /* Header Section - Full-Screen Background */

  
  
  .header-image {
    width: 500px;
    height: 400px;
    margin-top: 10px;
  }
  .main-image{
    width: 1510px;
    height: 600px;
    margin-bottom: 50px;
   


  }

  .section {
    margin-top: 80px;
    text-align: center;
  }
  .sectionheader1 h2 {
    font-size: 28px;
    color: #0e0e0e;
    position: relative;
    display: inline-block;
    font-family: 'Cursive', sans-serif;
    margin-bottom: 90px;
  }


  .sectionheader2 h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #010101;
    position: relative;
    display: inline-block;
    font-family: 'Cursive', sans-serif;
    margin-bottom: 90px;
  }




  
  
  
  /* Product grid styling */
  .product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
    padding: 0 20px;
    margin-bottom: 90px;
    justify-items: center;
  }
  
  .view-more-button {
    margin-top: 20px;
    background-color: #e63946;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .view-more-button:hover {
    background-color: #d62828;
  }
  