.product-card {
  background: #fff;
  border-radius: 8px;
  padding: 20px;
  width: 300px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  height: auto;

}

.product-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.product-name {
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0;
}

.product-description {
  font-size: 14px;
  color: #666;
  margin: 10px 0;
}

.product-rating {
  font-size: 14px;
  color: #f0c040;
  margin: 5px 0;
}

.review-count {
  color: #333;
  font-size: 14px;
  margin-left: 5px;
}

.product-price {
  font-size: 20px;
  font-weight: bold;
  color: #d32f2f;
  margin: 10px 0;
}

.discount {
  color: #d32f2f;
  font-size: 16px;
  margin-right: 10px;
}

.price {
  font-size: 24px;
  color: #333;
}

.weight-options {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.weight-button {
  border: 1px solid #d0d0d0;
  background: #f5f5f5;
  padding: 8px 16px;
  border-radius: 4px;
  margin: 0 5px;
  cursor: pointer;
}

.weight-button.active {
  background: #d32f2f;
  color: #fff;
  font-weight: bold;
}
