.product-card {
    width: 300px;
    height: 350px;
    border-radius: 45px;
    background-color: #f2f2f2;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(171, 170, 170, 0.856);
    font-family: Arial, sans-serif;
 }
 
 .product-card-image {
    width: 100%;
    height: auto;
 }
 
 .product-card-content {
    padding: 15px;
 }
 
 .product-card-title {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
 }
 
 .product-card-price {
    font-size: 18px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #333;
    text-align: right;
 }
 
 .product-card-rating-container {
    display: inline-flex;
    align-items: center; 
  }
  
  .product-card-rating-star {
    color: #f5b301; 
    font-size: 14px;
    margin-right: 5px; 
   }
  
  .product-card-rating-number {
    color: #333;
    font-size: 14px;
  }

 
 .product-card-description {
    font-size: 14px;
    color: #666;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 10px;
    text-align: justify;
 }
 
 .product-card-topcon{
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 50px;
   padding: 30px 0px;
 }
 .product-card-topcon-l h2{
   padding-bottom: 5px;
 }
 .product-card-topcon-l{
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
 }